@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
    themes: light --default;
}

/* variables */
:root {
    --gray: #f1f3f4;
    --purple: #9887ad;
    --pink: #fbb7c0;
    --orange: #d36135ff;
    --red: #f37575;
    --green: #bbd686;
    --blue: #7eb2dd;
    --brown: #bfada3;
    --grey: #4a4a4a;
    --yellow: #e1ca96;
    --deep-purple: #605678;
    --teal: #218380;

    --font-size: 16px;
    --font-color: #616161;

    --primary: #a98b96;
    --secondary: #97bb7c;

    --shadow-primary:
        rgba(169, 139, 150, 0.5) 0px 20px 25px -5px, rgba(169, 139, 150, 0.5) 0px 10px 10px -5px;
}

/* defaults */
html,
body {
    color: var(--font-color);
}

/* overrides */
.input,
input {
    @apply font-(--font-size) text-(--font-color) placeholder-gray-400 ring-0 outline-none focus-within:border-gray-300;
}

.input .icon {
    @apply opacity-50;
}

.btn {
    @apply text-base font-normal text-(--font-color) ring-0 outline-none;
}

.content-wrapper {
    @apply mx-auto max-w-300 p-4;
}
