@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
    themes: light --default;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/Geist-VariableFont_wght.ttf') format('woff2');
}

/* variables */
:root {
    --font-size: 16px;
    --font-color: #616161;
    --font-family: 'Geist', sans-serif;

    --primary: #f1e5d1;
    --secondary: #c39898;
    --accent: #987070;
    --primary-faded: rgba(241, 229, 209, 0.35);
}

/* defaults */
html,
body {
    color: var(--font-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
    min-height: 100vh;
}

/* overrides */
.input,
input {
    @apply font-(--font-size) text-(--font-color) placeholder-gray-400 ring-0 outline-none focus-within:border-gray-300;
}

.input .icon {
    @apply opacity-50;
}

.btn {
    @apply text-base font-normal text-(--font-color) ring-0 outline-none;
}

.content-wrapper {
    @apply mx-auto max-w-107.5 p-4;
}
.themed-btn {
    @apply rounded-lg border-none bg-(--primary) text-(--accent);
}
